body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

/* Header Stuff Here*/
header {
    background-color: #eaeaea;
    padding: 1rem 2vw;
    
}
header h1 {
    margin: 0;
    color: #0006F0;  
}
header p {
    margin: 0;
    color: #0006F0;
    letter-spacing: .5px;
    
}

/* Nav Stuff Here*/

nav {
    background-color: #04ede3;
    
}

nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #0006f0;
    font-weight: 500;
    display: block;
    padding: .83rem 2rem;    
}
nav li.active a {
    background-color: #0006f0;
        color: #04ede3;
    
}
nav a:hover {
    color: #fff;
}

/* Main Tag Stuff Here */

main {
    padding: 1rem 2vw;
}
main h1 {
    color: #8003d2;
}
main h2 {
    color: #6a02af;
    margin-bottom: .2rem;
}
main h3{
    color: #550283;
}
main ul{
    color: #0004b2;
}
main ol{
    color: #550283;
}
main p {
    color: #0004b2;
    margin: 0 0 .3rem;
}
main ol {
    padding: 1.2rem;
    background-color: #eaeaea;
}
main dl dt {
    color: #9404f3;
    font-weight: 400;
}
main dl dd {
    color: #0006f0;
    font-size: .9rem;
}
main a {
    color: #0006f0;
}
main a:hover {
    color: rgb(239,0,24)
}

/* Footer Stuff Here */
footer {
    background-color: #eaeaea;
    text-align: center;
    color: #0006f0;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color: #0006f0;
}













